<cdk-virtual-scroll-viewport #scroller class="viewport" itemSize="75">
  <nav *cdkVirtualFor="let classe of classes">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{classe.nom}}</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        Nombre d'élèves : {{classe.eleves.length}}
      </mat-card-content>

    </mat-card>
  </nav>
</cdk-virtual-scroll-viewport>
<a class="addButton" mat-fab color="primary" routerLink="/class/add">
  <mat-icon>add</mat-icon>
</a>
