<mat-card>
  <mat-card-content>
    <h2>Ajouter un professeur</h2>
    <form [formGroup]="form" novalidate (ngSubmit)="submit()" #loginForm >
      <mat-form-field>
        <mat-label>Nom</mat-label>
        <input
          formControlName="nom"
          name="nom"
          matInput
          required />
        <mat-error>Nom obligatoire</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Prénom</mat-label>
        <input
          formControlName="prenom"
          name="prenom"
          matInput
          required />
        <mat-error>Prénom obligatoire</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input
          formControlName="email"
          name="email"
          type="email"
          matInput
          required />
        <mat-error>Email obligatoire</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Image</mat-label>
        <input
          formControlName="image"
          name="image"
          type="url"
          matInput/>
        <mat-hint>Url de l'image</mat-hint>
        <mat-error>Format invalide</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Rôle</mat-label>
        <mat-select formControlName="role">
          <mat-option [value]=" Role.TEACHER">{{Role.TEACHER}}</mat-option>
          <mat-option [value]="Role.ADMIN">{{Role.ADMIN}}</mat-option>
        </mat-select>
        <mat-error>Rôle obligatoire</mat-error>
      </mat-form-field>
      <button class="submit" mat-raised-button color="primary">
        Ajouter un professeur
      </button>
    </form>
  </mat-card-content>
</mat-card>
