<div class="body">
  <header>
    <mat-toolbar role="heading" color="primary">
      <a routerLink="/" mat-icon-button aria-label="Menu icon">
        <mat-icon>home</mat-icon>
      </a>
      <h1>{{title}}</h1>
      <span class="spacer"></span>
      <a mat-icon-button routerLink="/add" aria-label="Ajouter un devoir">
        <mat-icon>add</mat-icon>
      </a>
    </mat-toolbar>
  </header>
  <main fxFlex>
    <router-outlet>
    </router-outlet>
  </main>
  <footer>
    <mat-toolbar color="primary" class="footer">
      <span class="credits">Kamel Bourek et William Poitevin - MIAGE Sophia MBDS - 2020/2021</span>
    </mat-toolbar>
  </footer>
</div>
