<div class="body">
  <header>
    <mat-toolbar role="heading" color="primary">
      <a routerLink="/" mat-icon-button aria-label="Menu icon">
        <mat-icon>home</mat-icon>
      </a>
      <h1>{{title}}</h1>
      <span class="spacer"></span>
      <a *ngIf="isAdmin" mat-icon-button routerLink="/users" aria-label="Utilisateurs">
        <mat-icon>people</mat-icon>
      </a>
      <button *ngIf="isLogged" mat-icon-button aria-label="Se déconnecter" (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>
  </header>
  <main>
    <router-outlet>
    </router-outlet>
  </main>
  <!--Ugly with infinite scroll-->
  <!--<footer>
    <mat-toolbar color="primary" class="footer">
      <span class="credits">Kamel Bourek et William Poitevin - MIAGE Sophia MBDS - 2020/2021</span>
    </mat-toolbar>
  </footer>-->
</div>
