<mat-card>
  <mat-card-content>
    <h2>Choisissez un nouveau mot de passe</h2>
    <form [formGroup]="form" novalidate (ngSubmit)="changePassword()" #loginForm  >
      <mat-form-field>
        <mat-label>Mot de passe</mat-label>
        <input
          formControlName="password"
          name="password"
          matInput
          type="password"
          required />
        <mat-error *ngIf="form.hasError('required', 'password'); else diffPass1">
          Mot de passe obligatoire
        </mat-error>
        <ng-template #diffPass1>
          <mat-error *ngIf="form.hasError('mustMatch', 'password')">
            Les mots de passes sont différents
          </mat-error>
        </ng-template>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Répétez le mot de passe</mat-label>
        <input
          formControlName="confirmPassword"
          name="confirmPassword"
          matInput
          type="password"
          required />
        <mat-error *ngIf="form.hasError('required', 'confirmPassword'); else diffPass2">
          Repetition du mot de passe obligatoire
        </mat-error>
        <ng-template #diffPass2>
          <mat-error *ngIf="form.hasError('mustMatch', 'confirmPassword')">
            Les mots de passes sont différents
          </mat-error>
        </ng-template>
      </mat-form-field>
      <button class="submit" mat-raised-button color="primary">
        Changer mon mot de passe
      </button>
    </form>
  </mat-card-content>
</mat-card>
