<cdk-virtual-scroll-viewport #scroller class="viewport" itemSize="75">
  <nav *cdkVirtualFor="let assignment of assignments">

      <a routerLink="/assignment/{{ this.assignment._id }}">
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{assignment.nom}}</mat-card-title>
          <mat-card-subtitle *ngIf="assignment.rendu">Rendu le : {{ assignment.dateDeRendu | date }}</mat-card-subtitle>
          <mat-card-subtitle *ngIf="!assignment.rendu">A rendre le : {{ assignment.dateDeRendu | date }}</mat-card-subtitle>
          </mat-card-header>

          <mat-card-content>
            <p *ngIf="rendu; else nonSoumis">
              Le devoir {{ assignment.nom }} a été rendu.
            </p>
            <ng-template #nonSoumis>
              <p>Le devoir {{ assignment.nom }} n'a pas été rendu.</p>
            </ng-template>
          </mat-card-content>

        </mat-card>
      </a>


  </nav>
  <!-- <mat-list>
    <nav *cdkVirtualFor="let assignment of assignments">
      <a routerLink="/assignment/{{ this.assignment._id }}">
        <h3 mat-subheader>
          Date de rendu : {{ assignment.dateDeRendu | date }}
        </h3>
        <mat-list-item>
          <p *ngIf="assignment.rendu; else nonSoumis">
            Devoir intitulé {{ assignment.nom }} a été rendu.
          </p>
          <ng-template #nonSoumis>
            <p>Le devoir {{ assignment.nom }} n'a pas été rendu.</p>
          </ng-template>
          <mat-divider></mat-divider>
        </mat-list-item>
      </a>
    </nav>
  </mat-list> -->
</cdk-virtual-scroll-viewport>
