.rendu {
  color: green;
  border: 1px solid green;
  background-color: yellow;
}

.nonRendu {
  color: red;
  border: 1px solid green;
}

.container {
  display: flex;
  flex-direction: column;
}

.ajouterBtn {
  align-self: flex-end;
}

.right {
  align-self: flex-end;
}

.viewport {
  flex: 1;
  min-height: 300px;
  border: 1px solid black;
}

.tab {
  height: 600px;
}

.mat-tab-body-wrapper{
  flex-grow: 1;
}

mat-card {
  box-shadow: 10px 5px 5px grey;
  margin-bottom: 1%;
}

cdk-virtual-scroll-viewport {
  background-color: #d1e0e0;
}

// .a {
//   text-decoration : none;
// }

