<mat-horizontal-stepper #stepper>
    <mat-step [stepControl]="nameFormGroup" errorMessage="Étape obligatoire">
      <form [formGroup]="nameFormGroup">
      <ng-template matStepLabel>Saisissez les infos sur le devoir</ng-template>
        <mat-form-field>
          <mat-label>Nom du devoir</mat-label>
          <input matInput placeholder="Nom du devoir" name="nom" formControlName="nameCtrl" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Matière</mat-label>
          <input matInput placeholder="Matière" name="matiere" formControlName="matiereCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="dateFormGroup" errorMessage="Étape obligatoire">
      <form [formGroup]="dateFormGroup">
      <ng-template matStepLabel>Choisissez la date et la classe</ng-template>
        <mat-form-field>
          <mat-label>Date de rendu</mat-label>
          <input [matDatepicker]="picker" matInput placeholder="Date de rendu" name="date" formControlName="dateCtrl"
                 required>
          <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Classe</mat-label>
          <mat-select formControlName="classCtrl">
            <mat-option *ngFor="let classe of classes" [value]="classe">
              {{classe.nom}}
            </mat-option>
          </mat-select>
          <mat-error>Classe obligatoire</mat-error>
        </mat-form-field>
        <div>

          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Ajout du devoir</ng-template>
      <p>Vous pouvez ajouter le devoir ou modifier votre saisie si vous le souhaitez</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
        <button mat-raised-button color="primary" (click)="onSubmit();">
          Ajouter le devoir
        </button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
