<mat-card>
  <mat-card-content>
    <h2>Ajouter un élève en {{classe.nom}}</h2>
    <form [formGroup]="form" novalidate (ngSubmit)="submit()" #loginForm >
      <mat-form-field>
        <mat-label>Nom</mat-label>
        <input
          formControlName="nom"
          name="nom"
          matInput
          required />
        <mat-error>Nom obligatoire</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Prénom</mat-label>
        <input
          formControlName="prenom"
          name="prenom"
          matInput
          required />
        <mat-error>Prénom obligatoire</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input
          formControlName="email"
          name="email"
          type="email"
          matInput
          required />
        <mat-error *ngIf="form.hasError('required', 'email'); else invalidEmail">
          Email obligatoire
        </mat-error>
        <ng-template #invalidEmail>
          <mat-error *ngIf="form.hasError('email', 'email')">
            Format invalide
          </mat-error>
        </ng-template>
      </mat-form-field>
      <button class="submit" *ngIf="!valid" mat-raised-button color="primary">
        Ajouter un élève
      </button>
    </form>
    <mat-form-field *ngIf="valid">
      <mat-label>Password</mat-label>
      <input
        name="password"
        [value]="password"
        disabled
        matInput
      />
    </mat-form-field>
    <div class="submit" *ngIf="valid">
      <a routerLink="/users" class="action-button" mat-raised-button>
        <mat-icon>arrow_back</mat-icon> Retour
      </a>
      <button (click)="reset()" class="action-button" mat-raised-button color="primary">
        <mat-icon>add</mat-icon> Nouveau
      </button>
    </div>
  </mat-card-content>
</mat-card>
